<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TiaExImPorter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TiaExImPorter.Properties.Settings>
            <setting name="TiaProject" serializeAs="String">
                <value>C:\Users\jkuehner\Documents\Automatisierung\MlogSrmBoysen_1_5_1_0_CR1_P1_S3\MlogSrmBoysen_1_5_1_0_CR1_P1_S3.ap13</value>
            </setting>
            <setting name="TargetDirectory" serializeAs="String">
                <value>D:\git\std-srm</value>
            </setting>
        </TiaExImPorter.Properties.Settings>
    </userSettings>
</configuration>