<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TCPForwarder.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TCPForwarder.Settings>
            <setting name="SourceIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="SourcePort" serializeAs="String">
                <value>2001</value>
            </setting>
            <setting name="SourceActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DestinationIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DestinationPort" serializeAs="String">
                <value>2002</value>
            </setting>
            <setting name="DestinationActive" serializeAs="String">
                <value>False</value>
            </setting>
        </TCPForwarder.Settings>
    </userSettings>
</configuration>