<?xml version="1.0"?>
<configuration>
  <configSections>
  <section name="log4net" 
    type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
</configSections>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <log4net>
    
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${TMP}\protokoller.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <MaxSizeRollBackups value="28" />
      <TrimFilesDaily value="true" />
      <datePattern value="yyyy-MM-dd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%-3thread] %-5level %logger - %message%newline" />
      </layout>
      <maximumFileSize value="250MB" />      
    </appender>

    <root>
      <level value="Debug" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  
  </log4net>

</configuration>
