<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.3" targetFramework="net45" />
  <package id="DotNetProjects.AvalonDock" version="2.9.16" targetFramework="net45" />
  <package id="DotNetProjects.WPF.Converters" version="1.0.4" targetFramework="net45" />
  <package id="DotNetProjects.Wpf.Toolkit" version="5.0.31" targetFramework="net45" />
</packages>