<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetProjects.CustomChromeLibrary" version="1.0.2" targetFramework="net45" />
  <package id="DotNetProjects.Extended.Wpf.Toolkit" version="2.9.16" targetFramework="net45" />
  <package id="DotNetProjects.WPF.Converters" version="1.0.4" targetFramework="net45" />
</packages>