<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimpleTcpSocket.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SimpleTcpSocket.Properties.Settings>
            <setting name="IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="Active" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRecievedLen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDate" serializeAs="String">
                <value>True</value>
            </setting>
        </SimpleTcpSocket.Properties.Settings>
    </userSettings>
</configuration>