<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.1.0" targetFramework="net45" />
  <package id="ExcelLibrary" version="1.2011.7.31" targetFramework="net45" />
  <package id="FirebirdSql.Data.FirebirdClient" version="5.6.0" targetFramework="net45" />
  <package id="LumenWorks.Framework.IO" version="3.8.0" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NLog" version="4.3.11" targetFramework="net452" />
  <package id="Npgsql" version="3.1.8" targetFramework="net45" requireReinstallation="true" />
</packages>