<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="String">
      <section name="CommandWhenBitSet.Settings" type="System.Configuration.ClientSettingsSection"/>
    </sectionGroup>
  </configSections>
  
    <userSettings>
        <CommandWhenBitSet.Settings>
            <setting name="CommandToRun" serializeAs="String">
                <value>C:\Windows\System32\shutdown.exe</value>
            </setting>
            <setting name="CommandParameter" serializeAs="String">
                <value>/s /c "blabla"</value>
            </setting>
            <setting name="PLCVar" serializeAs="String">
                <value>DB1.DBX0.0</value>
            </setting>
        </CommandWhenBitSet.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
