<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SimpleTcpSocketWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SimpleTcpSocketWPF.Properties.Settings>
            <setting name="IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="Active" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRecievedLen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EscapeSpecialChars" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value />
            </setting>
            <setting name="DateTimeFormat" serializeAs="String">
                <value>yyyy.MM.dd HH:mm:ss.fff</value>
            </setting>
            <setting name="RecieveFixedLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogDataAsHexBytes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogHexAndAscii" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Color" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoAnswer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MirrorRecieved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultipleConnections" serializeAs="String">
                <value>False</value>
            </setting>
        </SimpleTcpSocketWPF.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
