<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Kopplungstester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Kopplungstester.Properties.Settings>
            <setting name="SequenceNumberPosition" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="SequenceNumberLength" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SendPort" serializeAs="String">
                <value>2001</value>
            </setting>
            <setting name="RecievePort" serializeAs="String">
                <value>2002</value>
            </setting>
            <setting name="SendConnectionActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecieveConnectionActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseOnlyOneConnection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="SendeTelegramm" serializeAs="String">
                <value />
            </setting>
            <setting name="RecieveTelegramm" serializeAs="String">
                <value />
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value>192.168.1.100</value>
            </setting>
            <setting name="AutomaticQuitt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Laufnummer" serializeAs="String">
                <value>0</value>
            </setting>
        </Kopplungstester.Properties.Settings>
    </userSettings>
</configuration>
