name: .NET Pull Request

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: |
        dotnet restore src/S7CommPlusDriver
        dotnet restore src/DriverTest
        dotnet restore src/S7CommPlusGUIBrowser
    - name: Build
      run: |
        dotnet build src/S7CommPlusDriver
        dotnet build src/DriverTest
        dotnet build src/S7CommPlusGUIBrowser
